& when (@media-common = true) {
  .block.block-customer-login{
    .block-title {
      strong {
        font-size: 30px;
      }
    }
  }
}

//
//  Desktop (min:768px)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block.block-customer-login{
    .block-title {
      strong {
        text-decoration: underline;
      }
    }
  }
}

//
//  Mobile (max:768px)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .block.block-customer-login{
    .block-title {
      strong {
        color: blue;
      }
    }
  }
}